<h1>Stylists</h1>
<h2>@Model.GetName()</h2>
<h3>Are You SURE YOU WANT TO DELETE??</h3>
<form action="/stylists/@Model.GetId()/delete" method="post">
    <button type="submit">Yes, Delete</button>
</form>
<h4><a href="/">Return home</a></h4>
