<!DOCTYPE html>
<html>
  <head>
    <title>Stylists</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <h1>Stylists</h1>
  <table class="table table-hover table-danger">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Specialty</th>

    </tr>
  </thead>
  <tbody>

  @foreach(var stylists in Model)
  {
<tr>
      <td>@stylists.GetName()  |<a href="/stylists/@stylists.GetId()/clients">View Clients</a> | <a href="/stylists/@stylists.GetId()/edit">Edit</a>| <a href="/stylists/@stylists.GetId()/delete">Delete</a></td>
      <td>@stylists.GetPhone()  </td>





</tr>
  }

  </tbody>
</table>

<ul>

<a href="/stylists/add" class="btn btn-success">Add more stylists</a><br>
</html>
<a href='/stylists/add'>Add a stylist</a><br>
<a href='/clients/add'>Add a client</a><br>
<a href="/clients">View all clients</a><br><br>
<a href="/">Return Home</a>
