<!DOCTYPE html>
<html>
  <head>
    <title>Stylists</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <h1>Stylists</h1>
  <table class="table table-hover table-danger">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">*</th>
      <th scope="col">**</th>
    </tr>
  </thead>
  <tbody>

  @foreach(var stylists in Model)
  {
<tr>
      <td>@stylists.GetName() | <a href="/stylists/@stylists.GetId()/update">Edit</a> | <a href="/stylists/@stylists.GetId()/delete">Delete</a>
      </td>

</tr>
  }

  </tbody>
</table>

<ul>

<a href="/stylists/add" class="btn btn-success">Add more stylists</a><br>
</html>
