<h1>Stylists</h1>

<form action="/stylists" method="post">
  <label for="newstylist">Add a Stylist (name)</label>
  <input id="newstylist" name="newstylist" type="text" required>

  <label for="newphone">Add Phone Number</label>
  <input id="newphone" name="newphone" type="number" required>

  <ul>
  @foreach(var stylists in Model)
  {
    <li>@stylists.GetName()</li>
  }
  </ul>

  </select>
  <button type="submit">Submit</button>
</form><br>
<a href='/stylists/add'>Add a stylist</a><br>
<a href='/clients/add'>Add a client</a><br>
<a href="/stylists">View All Stylist</a>
